<script>
  import Card from "./Card.svelte";
  import iconList from "./iconlist.js";

  let size = 6; // MUST BE EVEN NUMBER
  let grid = [];
  let icons = Array.from(iconList);
  let playing = false;
  let tries = 0;
	let clickCount = 0;
  let currentPair = [];

  const initialize = (s) => {
    tries = 0;
    size = s;
    grid = [];
    for (let i = 0; i < size * size; i += 2) {
      let randomIcon = icons[Math.floor(Math.random() * icons.length)];
      icons = icons.filter((item) => item !== randomIcon);
      grid[i] = {
        id: i,
        imgsrc: randomIcon,
        matched: false,
        hidden: true,
      };
      grid[i + 1] = {
        id: i + 1,
        imgsrc: randomIcon,
        matched: false,
        hidden: true,
      };
    }
    shuffleArray(grid);
    playing = true;
  };

  function start(s) {
    initialize(s);
  }

  $: gameWon = grid.length && grid.every((x) => x.matched);

  const shuffleArray = (array) => {
    for (let i = array.length - 1; i > 0; i--) {
      const j = Math.floor(Math.random() * (i + 1));
      const temp = array[i];
      array[i] = array[j];
      array[j] = temp;
    }
  };

  

  const checkMatch = (e) => {
    tries++;
    if (clickCount >= 2) {
      grid.filter((x) => !x.matched).forEach((x) => (x.hidden = true));
      grid = grid;
      clickCount = 0;
      currentPair = [];
    }
    clickCount++;
    let myID = e.detail.id;
    currentPair.push(grid.find((x) => x.id == myID));
    if (
      currentPair.length > 1 &&
      currentPair[0].imgsrc == currentPair[1].imgsrc &&
      currentPair[0].id != currentPair[1].id
    ) {
      currentPair.forEach((x) => {
        x.matched = true;
        x.hidden = false;
      });
      grid = grid;
      currentPair = [];
      clickCount = 0;
    } else {
      for (let i = 0; i < currentPair.length; i++) {
        currentPair[i].hidden = false;
      }
    }
  };


	// function revealAll() {
	// 	let timeouts = {};
	// 	for(let i = 0; i < grid.length; i+=2) {
	// 		timeouts[i] = setTimeout(()=>{
	// 			let a = grid.find(x => x.id == i);
	// 			let b = grid.find(x => x.id == i+1);
	// 			a.hidden = false;
	// 			b.hidden = false;
	// 			a.matched = true;
	// 			b.matched = true;
	// 			grid=grid;
	// 		}, i*100, ()=>{clearTimeout(timeouts[i])});
	// 	}
	// 	tries = size*size;
	// }
</script>

<main>
  <h1>Memory Match</h1>
  {#if playing}
    <div
      class="grid"
      style="grid-template-columns: repeat({size}, 1fr);
			grid-template-rows: repeat({size}, 1fr);"
    >
      {#each grid as card}
        <Card
          imgsrc={card.imgsrc}
          matched={card.matched}
          id={card.id}
          hidden={card.hidden}
          on:cardClicked={checkMatch}
        />
      {/each}
    </div>
  {:else}
    <h2>choose size</h2>
    {#each [2, 4, 6, 8, 10, 12] as size}
      <button on:click={() => initialize(size)}>{size}x{size}</button>&nbsp;
    {/each}
  {/if}
  {#if gameWon && playing}
    <div class="gameWon">
      <h2>You Won! ({tries / 2} moves)</h2>
      <button
        class="playagain"
        on:click={() => {
          playing = false;
          gameWon = false;
        }}>play again</button
      >
    </div>
  {/if}
  <p><small><a href="https://bitbucket.org/tkroo/memory_match">source code</a></small></p>
</main>

<style>
  main {
    text-align: center;
    padding: 0.25em;
    max-width: 100%;
    margin: 0 auto;
  }

  h1 {
    color: hsl(194, 43%, 35%);
    text-transform: uppercase;
    font-size: 2em;
    margin: 0 auto 0.25em auto;
  }

  .grid {
    display: grid;
    grid-gap: 0.5em;
    margin: 0 auto;
  }
  .gameWon {
    margin-top: 1em;
  }
  .gameWon h2 {
    display: inline;
  }

  .playagain {
    background-color: #3a9100;
    border: 0;
    border-radius: 0.25em;
    color: white;
    margin-left: 1em;
    padding: 0.5em 1em;
  }

  @media (min-width: 480px) {
    main {
      padding: 1em;
      max-width: 650px;
    }
    h1 {
      margin: 0 auto 0.5em;
    }
  }
</style>
