<script>
  import { createEventDispatcher }  from 'svelte';
  const dispatch = createEventDispatcher();
  
  export let id;
  export let imgsrc;
  export let matched;
  export let hidden;

  const handleClick = (e) => {
    if(!matched) {
      hidden = !hidden;
    }
    dispatch('cardClicked', {
      id: id,
      imgsrc: imgsrc,
    });
  }

</script>

<div class="block" class:matched class:hidden>
  {#if matched}
    <img src="/icons/{imgsrc}"
    alt="{imgsrc.replace('.svg','')}" />
  {:else}
    <img
    on:click={handleClick}
    src="/icons/{imgsrc}"
    alt="{imgsrc.replace('.svg','')}" />
  {/if}
</div>

<style>
  .block {
		aspect-ratio: 1/1;
		display: flex;
		justify-content: center;
		align-items: center;
    border-radius: 0.15em;
		/* border: 1px solid #ccc; */
    /* width: 100px; */
    /* background-color: rgb(110, 147, 158); */
    background-color: hsl(194, 43%, 60%);
    transform: rotateY(0deg);
    /* perspective: 1000px; */
    transition: transform 0.35s ease-in-out, background 0.5s ease-in-out;
	}
	.block img {
    padding: 0.5em;
    display: block;
		width: 100%;
		height: auto;
    cursor: pointer;
    mix-blend-mode: luminosity;
    transform-style: preserve-3d;
    transition: opacity 0.7s ease-in-out;
	}
  .hidden {
    /* transform: rotateY(180deg); */
  }
  .hidden img {
    opacity: 0;
  }
  .matched {
    background-color: hsl(194, 43%, 35%);
  }
  .matched img {
    opacity: 1;
    cursor: default !important;
    mix-blend-mode: normal !important;
  }
</style>